[submodule "modules"]
	path = modules
	url = https://github.com/galopago/kicad-footprints
	branch = OSHW-logos
[submodule "library"]
	path = library
	url = https://github.com/KiCad/kicad-symbols
[submodule "packages3d"]
	path = packages3d
	url = https://github.com/KiCad/kicad-packages3D
